.Container{
  Background-color: #BCAAA4;
  height: 100%;
  width: 100%;
  border-style: hidden;
}



.content-contact{
position: relative;
text-align: center;
height: 40px%;
width: 100%;
border: solid;  
font-family: 'Abril Fatface', cursive;
font-size: 16px;
color:rgba(61,59,54,.5);
}

.content-Education{
 display: block;
 float: right;
 position: relative;
 height: 30px;
 width: 70% 
}

.content-headshot {
 display: block;
 float:left; 
 height: 30px%;
 width: 30%;  
 background-color: red;
}
