 body {
 	margin-top: 0px;
 	margin-right: 200px;
 	margin-bottom: 0px;
 	margin-left: 200px;
 	font-family: 'Permanent Marker'; 
 	padding: 30px;	 
 	background-size: cover;
 	background: #423e31;
 	color:#999;
} 

h1,h2,h3,h4,h5,h6,h7,h8,h9,h10{
	font-size: 30px;
}

h10 {
	text-align: center'
}

p{
	font-size: 16px;
}

#container {
	width: 100%;
	margin: 0 0 16px 0;
	padding: 0 700px 16px 700px;
	text-align: left;
	padding: 0 40px 0 40px;
	
	
}


#contact {
	text-align: center;
	margin: 0 0 16px 0;
	padding: 0 0 16px 0;
	font-size: 30px;
	letter-spacing: 1px;
	border-bottom: 1px solid #999;
	
	
}

#professional-header {
	font-size: 30px;
	text-align: center;
	margin: 0 0 16px 0;
}

#hendricksen-header {
	font-size: px
	margin: 0 0 16px 0;
	text-align: center;

}

#hendricksen {
border-top: 1px solid #999;	
}	

#sneaker-header {
	border-top: 1px solid #999;
	text-align: center;
}

#education-header {
	border-top: 1px solid #999;
	text-align: center;
}

#education {
}





